*.tmp
A7E8.tmp/
DE0.tmp/
is-*.tmp/
DD86.tmp/
B06B.tmp/
62B8.tmp/
50FD.tmp/
99E5.tmp/
3FC.tmp/
A4AD.tmp/
4DD3.tmp/
2972.tmp/
9B09.tmp/
DFBD.tmp/
2391.tmp/
D000.tmp/
C1CD.tmp/
9234.tmp/
F296.tmp/
chrome_*/
puppeteer_*/
AdobeVulcan/
CreativeCloud/
app-velocity-scout/
python-languageserver-cancellation/
vscode-stable-user-x64/
omp-sshots-*.webp
node_modules/
